body {
    background-color: #dce9e5;
    font-family: 'Roboto Mono', 'Times New Roman';
    
    
}

h1 {
    font-family: 'Roboto Mono', 'Times New Roman';
}

nav {

    padding-left: 17.5%;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 15%;
    
}

a.nav-link{
    font-size: 50px;
    margin-top: auto;
    margin-left: 5vh;
    margin-right: 5vh;
    font-family: 'Roboto Mono', 'Times New Roman';
    font-size: 25px;
}
.footer {
    background-color: white;
    height: 30vh;
    outline: 20px solid black;
    padding-top: 1%;
    margin-top: 7%;
}

#footerText {
    font-family: 'Roboto Condensed', 'Times New Roman' ;    
    font-size: 60px
}

#footerContent {
    font-size: 30px;
}

#footerFooter{
    font-style: italic;
    margin-top: 70px;
}

.center{
    text-align: center;
}

.title {
    font-family: 'Roboto Condensed', 'Times New Roman' ; 
    font-size: 50px;
}

.bookHeader {
    margin-top: 3%;
}

.background {
    background-color: #1abc9c;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    height: 80vh;
    
    text-align: center;
    margin-top: 5%;
}



.text {
    margin-left: 3%;
    margin-right: 3%;
    padding-top: 2%;
}

.font  {
    font-family: 'Roboto Condensed', 'Times New Roman' ; 
    font-size: 15px;
    text-align: left;
}

.input-group, .margin {
    margin-top: 2%;
}

.pricing {
    margin-top: 3%;
}

.banner {
    background-image: url("Photos/leave.JPG");
    background-size: cover;
    background-attachment: fixed;
    width: 80%;
    height: 17vh;
    margin-top: 2%;
    padding-top: 5.75%;
}

.name {
    font-size: 60px;
    font-weight: 900;
}

